@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  --line-color: #e5e7eb;
  overflow-x: hidden
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2)
}

.borderBlack {
  @apply border border-black/10;
}

@keyframes moveLeftBlob {
  0% {
    transform: translate(0, 0) rotate(0deg);
    border-radius: 30% 70% 40% 60% / 25% 40% 60% 75%;
  }
  50% {
    transform: translate(0, 100px) rotate(-15deg);
    border-radius: 28% 72% 38% 62% / 23% 42% 58% 77%;
  }
  100% {
    transform: translate(0, -100px) rotate(15deg);
    border-radius: 32% 68% 42% 58% / 27% 38% 62% 73%;
  }
}

@keyframes moveRightBlob {
  0% {
    transform: translate(0, 0) rotate(0deg);
    border-radius: 60% 40% 35% 65% / 65% 30% 70% 35%;
  }
  50% {
    transform: translate(100px, 0) rotate(10deg);
    border-radius: 58% 42% 33% 67% / 67% 28% 72% 33%;
  }
  100% {
    transform: translate(-100px, 0) rotate(-10deg);
    border-radius: 62% 38% 37% 63% / 63% 32% 68% 37%;
  }
}