@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  --line-color: #e5e7eb;
}

html, body {
  overflow-x:hidden 
} 

html.dark {
  --line-color: rgba(255, 255, 255, 0.2)
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: 
    /* Try AVIF format */
    url('https://res.cloudinary.com/dcqggnzbv/image/upload/v1692522894/fresh%20portfolio/texture_yxmkzb.avif'),
    /* Fallback to WebP format */
    url('https://res.cloudinary.com/dcqggnzbv/image/upload/v1692536881/fresh%20portfolio/texture_vfkgw0.webp'),
    /* Fallback to PNG format */
    url('https://res.cloudinary.com/dcqggnzbv/image/upload/v1692537387/fresh%20portfolio/texture_zgo0xp.png');
  opacity: 0.065;
  z-index: -1;
}

.borderBlack {
  @apply border border-black/10;
}

@keyframes moveLeftBlob {
  0% {
    transform: translate(0, 0) rotate(0deg);
    border-radius: 30% 70% 40% 60% / 25% 40% 60% 75%;
  }
  50% {
    transform: translate(0, 100px) rotate(-15deg);
    border-radius: 28% 72% 38% 62% / 23% 42% 58% 77%;
  }
  100% {
    transform: translate(0, -100px) rotate(15deg);
    border-radius: 32% 68% 42% 58% / 27% 38% 62% 73%;
  }
}

@keyframes moveRightBlob {
  0% {
    transform: translate(0, 0) rotate(0deg);
    border-radius: 60% 40% 35% 65% / 65% 30% 70% 35%;
  }
  50% {
    transform: translate(100px, 0) rotate(10deg);
    border-radius: 58% 42% 33% 67% / 67% 28% 72% 33%;
  }
  100% {
    transform: translate(-100px, 0) rotate(-10deg);
    border-radius: 62% 38% 37% 63% / 63% 32% 68% 37%;
  }
}